{{> head}}


{{> navbar }}

    <div class="col-8">
        <h1>El lobo raro</h1>
        <p>esto es un parrafo cualquiera</p>
    </div>

    <div class="col-4">
        <img src="assets/img/lobo.jpg" class="img-thumbnail">
    </div>


{{> footer}}